# Node & Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*

# Environment & Secret Keys (보안 강화)
.env
.env.local
.env.development.local
.env.production.local
env.js

# IDE & System Files
.DS_Store
.vscode/
.idea/
*.suo
*.user

# Vercel & Temporary Build Files
.vercel
dist
build
